$white-default: #ffffff;
$main-bg-color: #F3F7FA;
$grey-bright: #eceff1;
$grey-brightness: #d2d5d6;
$grey-medium: #8b9497;
$grey-dark: #4a4a4a;
$orange-dark: #d64d08;
$orange-default: #ff6d00;
$orange-lightness: #ff8124;
$orange-light: #ff9d1b;
$blue-default: #2196f3;
